/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --slight-grey: color: rgb(56, 56, 56);
    font-family:Lato;
}

#content{
    display:flex;
    padding: 10px 10px 10px 10px;
}

.left-bar{
    background-color: #ebebeb;
    height: calc(100vh - 60px);
    border-radius: 25px;
    width: max(15vw, 200px);
    padding: 20px 20px 20px 20px;
}

.menu-title{
    font-size: 30px;
    display:flex;
    justify-content:space-between;
    font-weight: bold;
    color: var(--slight-grey);
    width:100%;
    margin-bottom: 20px;
}

.menu-title div, .menu-title span, .in-menu-title, .add-task, .first, .task-name, .project-title, .deletel{
    cursor:pointer;
}

.menu-title .material-symbols-outlined{
    font-size: 40px;
    text-align:vertical;
}

.in-menu-title{
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: var(--slight-grey);
}

.projects-list{
    font-size: 18px;
}

.projects-list ul li{
    display:flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 5px 10px 5px 20px;
    cursor:pointer;
}

.projects-list ul li .material-symbols-outlined{
    font-size: 20px;
    opacity:50%;
}

.active-project{
    background-color:rgb(208, 208, 208);
}

.add-project-btn{
    cursor:pointer;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 5px 5px;
}

.right-bar{
    padding:50px 50px 50px 50px;
}

.project-title{
    font-size: 42px;
    font-weight:bold;
}

.project-tasks{
    margin-top: 50px;
    margin-left:30px;
    font-size: 24px;
}

.add-task, .task{
    padding-left: 20px;
    display:flex;
    align-items:center;
    width: 600px;
    height: 70px;
}

.task{
    border-bottom: 1px solid rgb(172, 171, 171);
}

.add-task{
    color:grey;
    border: 1px solid rgb(172, 171, 171);
    border-radius:10px;
}

.first{
    margin-right: 25px;
    height: 20px;
    width: 20px;
}

.due-date{
    position:relative;
    color:rgb(172, 171, 171);
    margin-left:auto;
    font-size: 20px;
}

.delete{
    opacity:50%;
    margin-left: 20px;
}

.hidden{
    display:none;
}


.project-name-input{
    width: 100%;
    margin-top: 14px;
    height: 22px;
    font-size: 20px;
}

.add-project-btns{
    display:flex;
    margin-top: 20px;
    justify-content:space-evenly;
}

.add-project-btns button{
    color:white;
    font-size: 22px;
    font-weight:bold;
    display:flex;
    justify-content:center;
    align-items:center;
    width: 40%;
    height: 32px;
    border-radius: 8px;
    cursor:pointer;
}

.add-project-btns button:nth-child(1){
    background-color:rgb(1, 124, 1);
}

.add-project-btns button:nth-child(2){
    background-color:rgb(191, 17, 17);
}

.project-list-titles{
    width:100%;
}